<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ROOTED IN NATURE</title>

    <!------------------------------- HEADER/FOOTER --------------------------->
    <link rel="stylesheet" href="/public/stylesheets/header.css">
    <link rel="stylesheet" href="/stylesheets/footer.css">
    

</head>

<body>


    <nav class="navbar">

        <div class="navbar-links">
            <a href="/views/landing.php"><div class="navbar-item">(RootedInNature)<sup>2</sup></div></a>
            <a href="/views/blogs/index.php"><div class="navbar-item">Blogs</div></a>
            <a href="/api/plant/index.php"><div class="navbar-item">Plants</div></a>
        </div>

        <!-- <div class=" "> -->
            <!-- <%if(!currentUser){%>
            <a href="/login" class="nav-item nav-link">Login</a>
            <a href="/register" class="nav-item nav-link">Register</a>
            <%}else{%>
            <a class="nav-item nav-link">Signed In As <%=currentUser.username%></a>
            <a href="/logout" class="nav-item nav-link">Logout</a>
            <%}%>
            </div> -->

        
    

    </nav>

    







