<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ROOTED IN NATURE</title>

    <!------------------------------- HEADER/FOOTER --------------------------->
    <link rel="stylesheet" href="/public/stylesheets/header.css">
    <link rel="stylesheet" href="/public/stylesheets/footer.css">
    <link rel="stylesheet" href="/public/stylesheets/dropdown.css">
    <link rel="stylesheet" href="/public/stylesheets/landing.css">


    <!-- PLANTS -->
    <link rel="stylesheet" href="/public/stylesheets/plants/form.css">

    <!-- D3 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.12.0/d3.min.js"></script>

    <!-- GOOGLE FONTS -->
    <link href="https://fonts.googleapis.com/css?family=VT323&display=swap" rel="stylesheet"> 
    

</head>

<body>
    <div class="page-header">(RootedInNature)<sup>2</sup></div>
    <svg width= "100vw" height="260px" id="navbar-svg">
            
    </svg>
    <nav class="navbar">

        
        <div class="navbar-links">
            <div class='navbar-item-container'><a href="/views/landing.php"><div class="navbar-item">Home</div></a></div>
            <div class='navbar-item-container'><a href="/views/blogs/index.php"><div class="navbar-item">Blogs</div></a></div>
            <div class='navbar-item-container'>
                <a>
                    <div class="navbar-item" id="navbar-plants">
                        Plants
                    </div>
                </a>
                <div id="plant-dropdown" class="plant-dropdown-hidden">
                        <a href="/api/plant/create.php"><div class="p-item plant-dropdown-item-hidden">CREATE</div></a>
                    <a><div class="p-item plant-dropdown-item-hidden">SEARCH</div></a>
                    <a><div class="p-item plant-dropdown-item-hidden">TABLE VIEW</div></a>
                    <a><div class="p-item plant-dropdown-item-hidden">IMAGE VIEW</div></a>




                </div>
            </div>


        </div>

        <!-- <div class=" "> -->
            <!-- <%if(!currentUser){%>
            <a href="/login" class="nav-item nav-link">Login</a>
            <a href="/register" class="nav-item nav-link">Register</a>
            <%}else{%>
            <a class="nav-item nav-link">Signed In As <%=currentUser.username%></a>
            <a href="/logout" class="nav-item nav-link">Logout</a>
            <%}%>
            </div> -->

    </nav>


    







